@charset "UTF-8";


body{
	overflow-x:hidden;
}
/* 차량 예약 메뉴 관련 css */
.main_img_wrap {
	margin-top: 100px;
	margin-bottom: 50px;
	text-align: center;

}

.main_car_img {
	min-width: auto;
	height: 700px;
	display: inline-block;
}

.main_wrap {
	text-align: left;
	width: 610px;
	height:450px;
	padding: 0;
	
	border: 1px solid #ececec;
	border-radius: 10px;
	
	background-color: white;
	
	
	/* 차량예약 검색 매뉴를 이미지위에 올리기 위해 position 을 사용 */
	position: absolute;
	top: 17%;
	left: 20%;
	
	transition:0.5s;
}

.main_wrap>div {
	display: inline-block;
	/*달력부분과 예약정보 선택부분 세로로 가운데 정렬하기*/
	vertical-align: middle;
}

/* 리뷰 컨텐츠 관련 css */
.review_wrap, .qna_wrap {
	margin: 30px;
	padding: 20px;
	background-color: white;
	
	border: 2px solid #ececec;
	border-radius: 20px;
}

.review_title, .qna_title_wrap {
	font-size: 2rem;
	font-weight: bold;
}

.review_list_wrap {
	margin: 20px;
}

/* col 로 사용할 태그의 css 에는 margin 사용하면 
	부트스트랩 그리드가 제대로 적용이 안됨 */
.review_list_wrap>div {
	display: inline-block;
	width: 200px;
	height: 250px;
	border: 2px solid #0B294B;
	border-radius: 20px;
	background-color: white;
	text-align: center;
	/* 	margin: 20px; */
}
.review-star{
	font-size: 2rem;
	font-weight: bold;
}
.review-car-name{
	font-size:1.7rem;
}

.review-content{
	margin-top: 3rem;
}

.review-content p {
	font-size:1.3rem;

}

.qna_title {
	font-size: 2rem;
	font-weight: bold;
}
.qna_title_btn, .review_list_btn{
	width: 70px;
	font-weight: bold;
}
.qna_list_wrap div {
	margin-top: 20px;
	margin-left: 10px;
}

.qna_list_wrap div a {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid ;
	color: black;
	font-weight: bold;
}

/* 부트스트랩 그리드 적용시 버튼이 너무 길어지는걸 방지하기위해
	길이 고정*/
.qna_btn {
	width: 3rem;
}

/* 버튼 커스텀 */
/* 버튼 레이아웃 수정 */

.btn_typeB2 {
/*     width: 100%; */
/*     height: 70px; */
    font-weight: bold;
/*     font-size: 22px; */
/*     color: #fff; */
    text-align: center;
/*     line-height: 70px; */
/*     background: #ff6600; */
    border-radius: 5px;
}

/* 버튼색 수정 */
.btn-outline-dark{
	border-color: #0B294B;
	--bs-btn-active-bg:#0B294B
}
.btn-outline-dark:hover{
	background-color: #0B294B;
}
.btn-outline-warning{
	border-color: #ff6600;
}
.btn-outline-warning:hover{
	background-color: #ff6600;
	color: white;
}
.btn-warning{
	background-color: #ff7f02;
	border-color: #ff7f02;
	color: white;
}
.btn-warning:hover{
	background-color: #ffb04b;
}
/*
	고객리뷰 , 자주묻는 질문등 container-fluid 쓰는곳 폭 길이제한
	(container-fluid 적용시 길이가 창 넓이를 초과함으로)
*/
.container-fluid {
	width: 95%;
}

/* .main_wrap 위치값 조정 */
@media ( width < 800px) {
	.main_wrap {
			left:5%;
	}
}
@media ( width > 1000px) {
	.main_wrap {
			left:30%;
	}
}
@media ( width >1200px) {
	.main_wrap {
			left:45%;
	}
}

@media ( width > 1400px) {
	.main_wrap {
		left:55%;
	}
}



/* 일정 넓이 이상 창크기시 길이 제한*/
@media ( min-width :1400px) {
	.container-fluid {
		width: 1400px;
	}
}



/* 높이 낮아질 때 이미지 높이 같이 낮아짐 */
@media ( max-height :810px) {
	.main_car_img {
		height: 600px;
	}
}

/* 일정 이하 크기시 항목 지우기*/
@media( width < 1370px){
	.review-wrap4{
		display: none !important;
	}
}
@media( width < 950px){
	.review-wrap3{
		display: none !important;
	}
}